In [14]:
import tushare as ts
ts.set_token('9b512522e0c4b9b128b047845bb4f0586f4d28daf91f8e92682f34e4')
df = ts.pro_bar(ts_code='000001.SZ', adj='qfq', start_date='20180101', end_date='20181011')

In [15]:
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20181011,10.0500,10.1600,9.7000,9.8600,10.4500,-0.5900,-5.6459,1995143.83,1994186.611
1,000001.SZ,20181010,10.5400,10.6600,10.3800,10.4500,10.5600,-0.1100,-1.0417,995200.08,1045666.180
2,000001.SZ,20181009,10.4600,10.7000,10.3900,10.5600,10.4500,0.1100,1.0526,1064084.26,1117946.550
3,000001.SZ,20181008,10.7000,10.7900,10.4500,10.4500,11.0500,-0.6000,-5.4299,1686358.52,1793455.283
4,000001.SZ,20180928,10.7800,11.2700,10.7800,11.0500,10.7400,0.3100,2.8864,2110242.67,2331358.288
...,...,...,...,...,...,...,...,...,...,...,...
182,000001.SZ,20180108,13.0388,13.0782,12.6550,12.7534,13.0880,-0.3346,-2.5565,2158620.81,2806099.169
183,000001.SZ,20180105,12.9994,13.1372,12.9404,13.0880,13.0388,0.0492,0.3773,1210312.72,1603289.517
184,000001.SZ,20180104,13.1077,13.1569,12.9207,13.0388,13.1175,-0.0787,-0.6000,1854509.48,2454543.516
185,000001.SZ,20180103,13.5111,13.6391,12.9896,13.1175,13.4816,-0.3641,-2.7007,2962498.38,4006220.766
186,000001.SZ,20180102,13.1372,13.7080,13.1077,13.4816,13.0880,0.3936,3.0073,2081592.55,2856543.822